.features-section,
.team-section,
.portfolio-section,
.footer-section,
.backdrop {
  display: none;
}

/* VARIABLES */

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* VARIABLES */

/* COMMON STYLES */

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

@media screen {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* COMMON STYLES */

/* HEADER STYLES */

@media screen {
  .page-menu {
    display: none;
  }

  .page-address {
    display: none;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-one {
    color: var(--iris);
    font-family: var(--second-family);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .logo-two {
    color: var(--navy-blue);
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .mobile-open-menu-btn {
    line-height: 0;
    fill: #2f2f37;
    transition: fill var(--primary-transition);
  }

  .mobile-open-menu-btn:hover,
  .mobile-open-menu-btn:focus {
    fill: var(--ocean);
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    padding-top: 72px;
    padding-bottom: 40px;
    color: var(--navy-blue);
    transform: translateX(100%);
    transition: transform var(--primary-transition);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 16px;
    padding-right: 24px;
  }

  .mobile-menu-close-btn {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #0000001a;
    fill: var(--navy-blue);
    background-color: var(--cornflower);
    transition: background-color var(--primary-transition),
      border var(--primary-transition);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    background-color: var(--ocean);
    fill: var(--white);
  }

  .mobile-menu-close-icon {
    transition: fill var(--primary-transition);
  }

  .mobile-menu-nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: color var(--primary-transition);
  }

  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    color: var(--ocean);
  }

  .mobile-page-address {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 168px;
  }

  .mobile-page-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color var(--primary-transition);
  }

  .mobile-page-address-link:hover,
  .mobile-page-address-link:focus {
    color: var(--iris);
  }

  .mobile-menu-social-list {
    display: flex;
    column-gap: 40px;
    margin-top: auto;
  }

  .mobile-menu-social-list-item {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-social-list-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    border-radius: 50%;
    transition: background-color var(--primary-transition);
  }

  .mobile-menu-social-list-icon {
    fill: var(--cloud);
  }

  .mobile-menu-social-list-link:hover,
  .mobile-menu-social-list-link:focus {
    background-color: var(--ocean);
  }
}

@media screen and (min-width: 768px) {
  .mobile-open-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header-container {
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    gap: 120px;
    align-items: center;
  }

  .page-menu {
    display: flex;
    column-gap: 40px;
  }

  .page-menu .link {
    display: block;
    color: var(--navy-blue);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color var(--primary-transition);
  }

  .page-menu .first-link {
    color: var(--ocean);
  }

  .page-menu .link:hover,
  .page-menu .link:focus {
    color: var(--ocean);
  }

  .page-menu .first-link::after {
    content: "";
    width: 48px;
    height: 4px;
    background-color: var(--ocean);
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 2px;
  }

  .page-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .page-address .link {
    display: block;
    color: var(--slate);
    font-family: var(--font-family);
    font-size: 12px;
    text-transform: lowercase;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color var(--primary-transition);
  }

  .page-address .link:hover,
  .page-address .link:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .page-nav {
    gap: 76px;
  }

  .page-address {
    flex-direction: row;
  }

  .page-address .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
  }
}

/* HEADER STYLES */

/* HERO-SECTION STYLES */

@media screen {
}
